﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="TesteWCFJSON.ConsumidorWebForm._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="form">
            
        
        <form action="/action_page.php">
          <div class="form-group">
            <label for="ano">Ano:</label>
            <input type="date" class="form-control" id="ano">
          </div>
          
            <div>
                <select name="grafico">
                    <option value ="continente">Balanço Continente</option>
                    <option value ="pais">Balanço País</option>
                </select>
              
            </div> 

          <button type="submit" class="btn btn-default">Submit</button>
        </form>             
            

    </div>

</asp:Content>
